
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
  
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
    justify-content: center;
    align-content: center;
}
  .button-container {
    margin: 10px; 
  }
  
  button {
    width: 50px; 
    height: 50px;
    margin:10px;
    border-radius: 20px;
  }
  
  .red{
    background-color: red;
    opacity: 0.4;
  }
  
  .yellow {
    background-color: yellow;
    opacity: 0.4;
  }
  
  .green {
    background-color: green;
    opacity: 0.4;
  }

  .backButton{
    background-color: black;
    width: 70px;
    height: 220px;
    border-radius: 5px;

  }

  .palito {
    background-color: black;
    width: 10px;
    height: 120px;
  }