
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
  
.container {
    justify-content: center;
    align-content: center;
}
  .button-container {
    display: inline-block;
    margin: 10px; 
  }
  
  button {
    width: 50px; 
    height: 50px;
    margin:10px;
  }
  
  .yellow {
    background-color: yellow;
    opacity: 0.4;
  }
  
  .blue {
    background-color: blue;
    opacity: 0.4;
  }
  
  .red {
    background-color: red;
    opacity: 0.4;
  }

  .backButton{
    background-color: black;
    width: 70px;
    height: 70px;

  }

  .palito {
    background-color: black;
    width: 10px;
    height: 120px;
  }